#devoured-card-header {
  background-color: orange;
}

.jumbotron {
  margin-top: 20px;
}
.devoured-burger-name {
  color: orange;
}

body {
  font-family: "Ubuntu", sans-serif;
}

#app-title {
  font-size: 88px;
}

.lead {
  font-size: 30px;
}

body {
  background-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fcdn-image.foodandwine.com%2Fsites%2Fdefault%2Ffiles%2F2012-r-xl-july-2008-asian-style-pork-burgers.jpg&f=1&nofb=1");
  background-repeat: no-repeat;
  background-size: cover;
}
